<%- include('header.ejs') %>
<div class="text-center">
    <img src="https://drive.google.com/uc?export=view&id=1-5oY9iyiCwwNgBa5cesReSMWHkhgxfBx" alt="Logo-universitas-widya-dharma-pontianak">
    <form action="/" method="post">
        <h1>Acara</h1>
        <p>Nama</p>
        <input type="text" name="Nama" id="input-nama">
        <p>Instansi</p>
        <input type="text" name="instansi" id="input-instansi"> <br>
        <p>Keperluan</p>
        <textarea name="keperluan" id="keperluan" cols="30" rows="3"></textarea>
        <p>Kontak</p>
        <input type="text" name="kontak" id="kontak"> <br>
        <div class="kosong">
            
        </div>
        <button>submit</button>
    </form>
</div>
<%- include('footer.ejs') %>